<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.studio.yami.moviecataloguefinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="com.studio.yami.moviecataloguefinal.READ_WRITE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <receiver android:name=".widget.FavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>

        <provider
            android:name=".provider.FavoriteProvider"
            android:authorities="com.studio.yami.moviecataloguefinal"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.studio.yami.moviecataloguefinal.READ_WRITE" />

        <receiver
            android:name=".receiver.ReminderReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" />

        <activity
            android:name=".activity.ReminderActivity"
            android:label="@string/reminder"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>